<h1>Apps#index</h1>
<p>Find me in app/views/apps/index.html.erb</p>

<a href="/apps/new">new Application</a>
<br>

<table>


<% @apps.each do |app| %>
    <tr>

    <td style="padding:10px">
    <a href="/apps/<%= app.access_token %>">
    <%= app.name %>
    </a>
    </td>

    <td>
        <% if app.chats_count==nil %>
        <h3> total chats count = 0 </h3>
        <% else %>
            <h3>  total chats count = <%= app.chats_count %> </h3>
        <% end %>
    </td>

    <td>
    <a href="/apps/<%= app.access_token %>/edit"> edit name</a>
    </td>

    </tr>
<% end %>

</table>